*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    
}

html,body{
    overflow-x: hidden;
}


/* .navbar-brand{
    display: inline-flex;
    align-items: center;
    gap: 8px;
    margin: auto auto;

} */

.nav-link{
    text-decoration: none;
    color:  #18191F;
    /* Body/Medium/Body 2 */
    font-family: Inter;
    font-size: 1rem;
    /* font-style: normal; */
    font-weight: 500;
    /* line-height: 24px; */

}

.nav-link:hover{
    color:  #4CAF4F;
    transition: 0.3s;
}

.nav-item{
    padding-left: 30px;
    font-size: 1rem;
}
.btn0{
    height: 40px;
    width: 90px;
    /* align-items: center; */
    /* gap: 10px; */
    outline: none;
    border-radius: 6px;
    background:  #F5F7FA;
    
    border: none;
    transition: all 0.2s;
}

.btn0 a{
    color:  #4CAF4F;
    text-decoration: none;
    font-family: Inter;
}

.btn0:hover{
    /* color:  #FFF; */
    background-color: #d4ddd4;
    transition: all 0.2s;
}
.btn1{
    height: 40px;
    width: 90px;
    /* align-items: center; */
    /* gap: 10px; */
    outline: none;
    border-radius: 6px;
    
    background:  #4CAF4F;
    border: none;
    transition: all 0.2s;

}
.btn1 a{
    color:  #FFF;
    text-decoration: none;
    font-family: Inter;

}

.btn1:hover{
    /* color:  #4CAF4F; */
    background-color:  #6bdb75;
    transition: all 0.2s;
}



/* ---------Main ---------------------------- */

/* .main{
    min-height: 100vh;
    width: 100%;

} */

.main h1{
    /* align-self: stretch; */
    color:  #4D4D4D;
    /* Heading/Headline 1 */
    
    font-family: Inter;
    font-size: 3.9rem;
    /* font-style: normal; */
    font-weight: 600;
    /* margin-top: 90px; */
    /* change for small */
    

}

.main h1 span{
    color:  #4CAF4F;
    /* Heading/Headline 1 */
    font-family: Inter;
    font-size: 3.9rem;
    /* font-style: normal; */
    font-weight: 600;
    /* line-height: 76px; */

}

.main p{
    /* align-self: stretch; */
    color:  #717171;
    /* Body/Regular/Body 2 */
    font-family: Inter;
    font-size: 1rem;
    /* font-style: normal; */
    font-weight: 400;
    /* line-height: 100%; */

}

.btn2{
    height: 51px;
    width: 140px;
    /* align-items: center; */
    /* gap: 10px; */
    outline: none;
    border-radius: 6px;
    color:  #FFF;
    background:  #4CAF4F;
    border: none;
    transition: all 0.2s;
}

.btn2:hover{
    /* color:  #4CAF4F; */
    background-color:  #6bdb75;
    transition: all 0.2s;
}

.btn2 a{
    text-decoration: none;
    color:  #FFF;
    /* text-align: center; */
    font-family: Inter;
    /* font-size: 16px; */
    /* font-style: normal; */
    /* font-weight: 400; */
    /* line-height: 24px;  */

}



.main img{
    height: 100%;
    width: 100%;

}

/* ----------------client------------------- */


.clie h1{
    /* align-self: stretch; */
    color:  #4D4D4D;
    text-align: center;
    font-family: Inter;
    font-size: 2rem;
    /* font-style: normal; */
    font-weight: 600;
    /* line-height: 44px;  */

}

.clie p{
    /* align-self: stretch; */
    color:  #717171;
    text-align: center;
    /* text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); */
    font-family: Inter;
    font-size: 1rem;
    /* font-style: normal; */
    font-weight: 400;
    /* line-height: 24px;  */

}




/* -----------------------------community -----------------------------*/

.comm h1{
    /* width: 542px; */
    color: #4D4D4D;
    text-align: center;
    /* text-shadow: 0px 4px 4px 0px rgba(224, 144, 144, 0.25); */
    font-family: Inter;
    font-size: 2rem;
    /* font-style: normal; */
    font-weight: 600;
    /* line-height: 44px;  */
}

.comm p{
    /* align-self: stretch; */
    color: var(--neutral-grey, #717171);
    text-align: center;

    /* Body/Regular/Body 2 */
    font-family: Inter;
    font-size: 1rem;
    /* font-style: normal; */
    font-weight: 400;
    /* line-height: 24px;  */

}

.comm .card{
    border: none;
    box-shadow: 0px 2px 4px 0px rgba(171, 190, 209, 0.20);
}

.comm .card:hover{
    cursor: pointer;
    transition: all 0.3s;
    -webkit-box-shadow: 1px 1px 8px 2px rgba(0,0,0,0.53);
    -moz-box-shadow: 1px 1px 8px 2px rgba(0,0,0,0.53);
    box-shadow: 1px 1px 8px 2px rgba(0,0,0,0.53);
}


.comm .card h1{
    /* align-self: stretch; */
    color: #4D4D4D;
    text-align: center;
    font-family: Inter;
    font-size: 1.5rem;
    /* font-style: normal; */
    font-weight: 700;
    /* line-height: 36px;  */

}

.comm .card p{
    /* width: 251px; */
    color:  #717171;
    text-align: center;
    font-family: Inter;
    font-size: 0.9rem;
    /* font-style: normal; */
    /* font-weight: 400; */
    /* line-height: 20px;  */

}

/* .................about ................... */

/* .about{
    min-height: 100vh;
    width: 100%;

} */

.about img{
    height: 100%;
    width: 100%;
}
.about h1{
    /* align-self: stretch; */
    color:  #4D4D4D;
    /* Heading/Headline 1 */
    
    font-family: Inter;
    font-size: 2rem;
    /* font-style: normal; */
    font-weight: 600;
    /* margin-top: 90px; */
    /* change for small */
    

}

.about p{
    /* align-self: stretch; */
    color:  #717171;
    /* Body/Regular/Body 2 */
    font-family: Inter;
    font-size: 0.8rem;
    /* font-style: normal; */
    /* font-weight: 400; */
    /* line-height: 20px; */

}

.btn3{
    height: 51px;
    width: 140px;
    /* align-items: center; */
    /* gap: 10px; */
    outline: none;
    border-radius: 6px;
    color:  #FFF;
    background:  #4CAF4F;
    border: none;
    transition: all 0.2s;
}

.btn3:hover{
    /* color:  #4CAF4F; */
    background-color:  #6bdb75;
    transition: all 0.2s;
}

.btn3 a{
    text-decoration: none;
    color:  #FFF;
    /* text-align: center; */
    font-family: Inter;
    /* font-size: 16px; */
    /* font-style: normal; */
    /* font-weight: 400; */
    /* line-height: 24px;  */

}

/* .........achieve................................................... */

.achieve h1{
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: flex-start; */
    /* gap: 8px; */
    /* width: 408px; */
    color: #4D4D4D;

    /* Heading/Headline 2 */
    font-family: Inter;
    font-size: 2rem;
    /* font-style: normal; */
    font-weight: 600;
    /* line-height: 44px;  */
}

.achieve h1 span{
    color: #4CAF4F;

    /* Heading/Headline 2 */
    font-family: Inter;
    font-size: 2rem;
    /* font-style: normal; */
    font-weight: 600;
    /* line-height: 44px; */
}


.achieve h2{
    /* width: 191px; */
    color: var(--neutral-d-grey, #4D4D4D);

    /* Heading/Headline 3 */
    font-family: Inter;
    font-size: 1.5rem;
    /* font-style: normal; */
    font-weight: 700;
    /* line-height: 15px;  */
}
.achieve h6{
    /* width: 191px; */
    color: var(--neutral-grey, #717171);

    /* Body/Regular/Body 2 */
    font-family: Inter;
    font-size: 1rem;
    /* font-style: normal; */
    font-weight: 400;
    /* line-height: 24px; 150% */

}


/* -----Customer------------------ */
.customer .img1{
    width: 100%;
    height: 100%;

}

.customer h1{
    /* align-self: stretch; */
    color: var(--brand-primary, #4CAF4F);

    /* Heading/Headline 4 */
    font-family: Inter;
    font-size: 1.2rem;
    /* font-style: normal; */
    font-weight: 600;
    /* line-height: 28px;  */
}
.customer p{
    /* align-self: stretch; */
    color: var(--neutral-grey, #717171);

    /* Body/Medium/Body 2 */
    font-family: Inter;
    font-size: 0.95rem;
    /* font-style: normal; */
    font-weight: 500;
    /* line-height: 24px;  */
}
.customer .p1{
    /* align-self: stretch; */
    color: var(--neutral-l-grey, #89939E);

 
    font-family: Inter;
    font-size: 0.95rem;
    /* font-style: normal; */
    font-weight: 400;
    /* line-height: 24px;  */
}

.customer a{
    /* width: 200px; */
    color: var(--brand-primary, #4CAF4F);
    text-decoration: none;

    /* Heading/Headline 4 */
    font-family: Inter;
    font-size: 1.2rem;
    /* font-style: normal; */
    font-weight: 600;
    /* line-height: 28px;  */
}

/* --------update------------------------------------- */
.update img{
    width: 100%;
    height: 100%;
}



.update .card{
    border: none;

    /* box-shadow: 0px 2px 4px 0px rgba(171, 190, 209, 0.20); */
}

.update .card:hover{
    cursor: pointer;
    transition: all 0.3s;
    -webkit-box-shadow: 1px 1px 8px 2px rgba(0,0,0,0.53);
    -moz-box-shadow: 1px 1px 8px 2px rgba(0,0,0,0.53);
    box-shadow: 1px 1px 8px 2px rgba(0,0,0,0.53);
}


.update h1{
    /* align-self: stretch; */
    color: #4D4D4D;
    text-align: center;
    font-family: Inter;
    font-size: 2.3rem;
    /* font-style: normal; */
    font-weight: 600;
    /* line-height: 36px;  */

}

.update p{
    /* width: 251px; */
    color:  #717171;
    text-align: center;
    font-family: Inter;
    font-size: 1rem;
    /* font-style: normal; */
    /* font-weight: 400; */
    /* line-height: 20px;  */

}

.update .card1{
    margin-top: -98px;
    box-shadow: 0px 2px 4px 0px rgba(171, 190, 209, 0.20);

}

.update h2{
    /* width: 285px; */
    color: var(--neutral-grey, #717171);
    text-align: center;

    /* Heading/Headline 4 */
    font-family: Inter;
    font-size: 1.2rem;
    /* font-style: normal; */
    font-weight: 600;
    /* line-height: 28px;  */
}

.update a{
    /* display: flex; */
    padding: 8px;
    /* justify-content: center; */
    align-items: center;
    /* gap: 8px; */
    /* align-self: stretch; */

    color: var(--brand-primary, #4CAF4F);
    text-decoration: none;

    /* Heading/Headline 4 */
    font-family: Inter;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 600;
    /* line-height: 28px;  */


}


/* --footer start----------------------------------------- */
.footer h1{
    /* width: 887px; */
    color: var(--neutral-black, #263238);
    text-align: center;

    /* Heading/Headline 1 */
    font-family: Inter;
    font-size: 3rem;
    /* font-style: normal; */
    font-weight: 600;
    /* line-height: 76px;  */
    
}



.btn5{
    height: 51px;
    width: 180px;
    /* margin-left: 480px; */
    align-items: center;
    /* gap: 10px; */
    outline: none;
    border-radius: 6px;
    color:  #FFF;
    background:  #4CAF4F;
    border: none;
    transition: all 0.2s;
}

.btn5:hover{
    /* color:  #4CAF4F; */
    background-color:  #6bdb75;
    transition: all 0.2s;
}

.btn5 a{
    text-decoration: none;
    color:  #FFF;
    /* text-align: center; */
    font-family: Inter;
    /* font-size: 16px; */
    /* font-style: normal; */
    /* font-weight: 400; */
    /* line-height: 24px;  */

}


/* ------footer1 start------------------ */
.footer1{
    background-color: var(--neutral-black, #263238);
}

.footer1 p{
    color: #d6dae1;

    /* Body/Regular/Body 3 */
    font-family: Inter;
    font-size: 0.9rem;
    /* font-style: normal; */
    font-weight: 400;
    /* line-height: 20px;  */
    /* width: 350px; */

}

.footer1 h1{
    /* width: 160px; */
    color: var(--neutral-white, #FFF);
    padding-top: 13px;
    padding-bottom: 13px;

    /* Heading/Headline 4 */
    font-family: Inter;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 600;
    /* line-height: 28px;  */
}

.footer1 h2{
    color: var(--neutral-white, #FFF);
    padding-top: 2px;
    padding-bottom: 2px;
    /* Heading/Headline 4 */
    font-family: Inter;
    font-size: 0.8rem;
    font-style: normal;
    font-weight: 600;
    /* line-height: 28px;  */
}
.footer1 a{
    text-decoration: none;
    /* width: 160px; */
    color: #d6dae1;

    /* Body/Regular/Body 3 */
    font-family: Inter;
    /* font-size: 1rem; */
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */

}

.footer1 .email{
    width: 255px;
    height: 40px;
    margin-top: -7px;
    display: flex;
    
    
}

.footer1 .email input{
    color: var(--text-gray-300, #ffffff);

    width: 255px;
    height: 40px;
    /* flex-shrink: 0; */
    border-radius: 8px;
    /* opacity: 0.20000000298023224; */
    background: #8080808a;
    border: none;

    /* Body/Regular/Body 3 */
    font-family: Inter;
    font-size: 1rem;
    /* font-style: normal; */
    font-weight: 400;
    /* line-height: 20px; */
}

.footer1 .email input::placeholder{
    color: #ffffff9f;
}
.footer1 .email a{
    margin: auto auto;

}
.footer1 .email a img{
    width: 18px;
    height: 18px;
    /* flex-shrink: 0; */
    margin-left: -32px;
    margin-top: 2px;
}

/* -----media-------------------------- */
@media only screen and (max-width: 600px) 
{
    .main h1 span, .main h1{
        font-size: 1.7rem;
    }
    .main p{
        font-size: 0.8rem;
    }
    .clie h1{
        font-size: 1.7rem;
    }
    .clie p{
        font-size: 0.8rem;
    }
    .clie .row1{
        display: flex;
        flex-direction: column; 
        
    }

    .clie .col1{
        padding-bottom: 25px;

    }

    

    .comm h1{ 
        font-size: 1.7rem;
    }
    .comm p{ 
        font-size: 0.8rem;
    }


    .about h1{
        font-size: 1.7rem;
        
    }
    .about p{
        font-size: 0.8rem;
        
    }
    .achieve .col1{ 
        display: flex;
        flex-direction: column;
        /* align-items: center; */
    }

    .achieve h1 span, .achieve h1{
        font-size: 1.5rem;
    }
    .achieve p{
        font-size: 0.8rem;
    }

    .customer .row1{
        display: flex;
        flex-direction: column; 
        align-items: center;
        text-align: center;
        

    }

    .customer .col1{
        padding-bottom: 25px;

    }

    .customer .col2{
        /* text-align: center; */
        display: contents;
    }

    .customer p,.p1,h1{
        font-size: 0.8rem;

    }

    .update h1{
        font-size: 1.7rem;
    }
    .update p{
        font-size: 0.8rem;
    }
    .footer{
        align-items: center;
        text-align: center;
    }

    .footer h1{
        font-size: 2rem;
    }

}
@media only screen and (max-width: 992px) 
{
    .row1{
        align-items: center;
        text-align: center;
        justify-content: center;
        gap: 14px;

    }
    
    .main img{
        width: 60%;
    }
    .main .row1{
        align-items: center;
        text-align: center;
    }
    

    .comm .row1{
        align-items: center;
        
        display: flex;
        flex-direction: column;
    }

    .about .row1{
        align-items: center;
        text-align: center;
    }
    .about img{
        
        width: 50%;
        
    }

    .achieve .col0{
        align-items: center;
        text-align: center;
    }
    
    .customer .row1{
        align-items: center;
        text-align: center;
    }
    .customer .img1{
        
        width: 55%;
        
    }
    
    

    .customer {
        align-items: center;
    }
    .update .row1{
        align-items: center;
        text-align: center;
    }
    .update img{
        
        width: 70%;
        
    }
    
    .update {
        align-items: center;
    }



    .footer, .footer .row1{
        align-items: center;
        text-align: center;
    }

    .footer1 .row1{
        align-items: center;
        text-align: center;
        justify-content: center;
    }

   


}

@media only screen and (max-width: 500px)
{
    .achieve .row1{
        /* justify-content: center; */
        align-items: center;
        text-align: center;
        display: flex;
        flex-direction: column;
        
    }

    .achieve .row2{
        padding-bottom: 25px;
    }

    .update h2{
        font-size: 0.8rem;
    }

    .update a{
        font-size: 0.8rem;
    }
}




/*............. Login/signup ............................. */

.btn6{

    border-radius: .5rem;
   
    font-size: 1rem;
    color: #ffff;
    cursor: pointer;
    padding:0.7rem 1.7rem;
    transition: all 0.2s;
   
}
 
.btn6{
    background-color:#4CAF4F;
}
 
 
 
.btn6:hover{
    color: #ffff;
    background-color: #6bdb75;
}
 
 
 
@keyframes fadeIn{
    0%{
       transform: translateY(1rem);
    }
}

/* .navbar{
    box-shadow: #e0d5d5 0px 5px 15px;

} */
 
.form-container{
    background-color: #F5F7FA;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
 
.form-container form{
    padding:2rem;
    border-radius: 2rem;
    /* border:.2rem solid #333; */
    background-color:  #F5F7FA;;
    /* box-shadow: 0 .5rem 1rem #4CAF4F; */
    box-shadow: #000000 0px 5px 15px;
    /* box-shadow: #00ff08 0px 3px 8px; */
    /* box-shadow: rgba(150, 132, 132, 0.452) 0px 50px 100px -20px, rgb(0, 0, 0) 0px 30px 60px -30px, rgba(0, 0, 0, 0.795) 0px -2px 6px 0px inset; */

    /* box-shadow: rgba(13, 13, 14, 0.932) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px; */

    /* box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px; */
    width: 28rem; 
    text-align: center;
    background-color: #F5F7FA;

}
 
.form-container form h3{
    font-size: 1.3rem;
    text-transform: uppercase;
    color:#333;
    /* margin-bottom: 1rem; */
}
.form-container form h4{
    font-size: 1.3rem;
    /* float: left; */
    padding: 0rem;
    text-align: initial;
    /* text-transform: uppercase; */
    color:#333;
    margin-bottom: 0rem;
}
 
.form-container form .box{
    width: 100%;
    padding: 0.5rem 0.5rem;
    font-size: 1.2rem;
    color:#333;
    border:0.1rem solid #333;
    background-color: #f5f5f5;;
    margin:0.2rem 0;
    border-radius: .5rem;
}
 
.form-container form p{
    /* margin-top: 1%rem; */
    font-size: 1rem;
    color:#666;;
}
 
.form-container form p a{
    color:#4CAF4F;;
}
 
.form-container form p a:hover{
    text-decoration: underline;
}
 
 
 /* media queries  */
 
@media (max-width:991px){
 
    html{
       font-size: 70%;
    }
 
}
 
/* Admin Dashboard-------------------------------------------------------------------------------------- */
/* .dashboardslid{
    background-color: #127e16;
}

.dashboardborder {
    border: solid #127e16;
    border-radius: 0.5rem; 
  } */